@import "../node_modules/bootstrap/scss/bootstrap";

.container {
    height: 787px;
    width: 1440px;
}

main {
    background-color:  #F8FAFF;
}

.rounded {
    margin-top: 22px;
    margin-left: 25px;
    background-color:  #F8FAFF;
}

li {
    list-style: none;
    margin-bottom: 30px;

}

.logo {
    margin-left: 25px;
    margin-right: 20px;
}

.list-group {
    padding-left: 0;
}

.store_management {
    height: 219px;
    width: 1001px;
}