@import "../node_modules/bootstrap/scss/bootstrap";

.container {
    max-height: 787px;
    margin-left: 0;
    padding-left: 0;
    border: 0;
    max-width: 1440px;
}

.col-3 {
    width: 20%;
}

.col-9 {
    padding-left: 39px;
    width: 80%;
}

main {
    background-color:  #F8FAFF;
    height: 787px;
}

.rounded {
    padding: 22px 250px 4px 25px;
    background-color: #F8FAFF;
}

.main {
    margin-top: 39px;
}

.list-group-item {
    list-style: none;
    margin-bottom: 30px;
    border: none;
    padding: 0;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
}

.logo {
    margin-left: 25px;
    margin-right: 20px;
}

.list-group {
    padding-left: 0;
}

.store_management {
    height: 219px;
    width: 1001px;
}

.header {
    margin-top: 22px;
    margin-bottom: 64px;
    font-weight: 500;
font-size: 12px;
line-height: 21px;
color: #656565;
}

.table {
    padding: 26.5px 33px 14px 34px;
    background-color: white;
    border-collapse: inherit;
    box-shadow: 0px 11px 21px rgba(40, 40, 40, 0.07);
    width: 1001px;
}
.col-1 {
    width: 15%;
}
.col-2 {
  width: 20%;
}
.col-3t {
    width: 30%;
}
.col-4 {
    display: flex;
    width: 30%;
flex-wrap: nowrap;
}
h2 {
    margin-top: 35.5px;
    margin-bottom: 25.5px;
    font-weight: 500;
font-size: 20px;
line-height: 21px;
color: #343434;
}

.headtable {
    padding: 0 0 25.5px 0;
    border-style: none;
    font-weight: 500;
font-size: 14px;
line-height: 21px;
}

.td {
    margin-bottom: 9px;
    margin-top: 9px;
}

 td,
 .onetwo {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    font-style: normal;
    color: #6E6E6E;
 }

.down {
    border-style: none;
}

.btn-success {
    background-color: #55C97B;
    margin-right: 10px;
}

.btn-secondary,
.btn-success {
    height: 36px;
    width: 149px;
    margin-bottom: 9px;
}
.btn-secondary{
    background-color: #B1B1B1;
}
.symbol {
    margin: 9px 13.92px 9.68px 0;
}

.btn {
    line-height: 21px;
    font-size: 12px;
    padding: 0;
}

#big {
    width: 185px;
}

.plus {
    margin-right: 12px;
}

.flex {
    display: flex;
}

.hat {
    justify-content: space-between;
}
.email {
    border: 1px solid #7B7B7B;
    padding: 24px;
    border-radius: 5px;
    height: 65px;
    width: auto;

}

.top-16 {
    margin-top: 16px;
    border-radius: 5px;
}
span {
    margin-top: 22px;
    margin-bottom: 22px;
    font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #7D7D7D;
margin-left: 12px;
}

.maxim {
    background-color: white;
    height: 65px;
    margin-left: 16px;
    padding-left: 17px;
padding-top: 12px;
padding-right: 34px;
box-shadow: 0px 0px 16px rgba(136, 167, 245, 0.18);
}

.max_photo {
    border: 4px solid  #D9D9D9;
    border-radius: 50%;
}


.modall {
    display: none;
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    /* opacity: 0; по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;

}
/* при отображении модального окно */
/* .modal:target {
    /* opacity: 1; делаем окно видимым */
	  /* pointer-events: auto; /* элемент видим для событий мыши */
    /* overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
/* } */ 
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 30px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}